body {
    background-color: white;
    color: black;
}

button {
    background-color: ghostwhite;
}

button:hover {
    background-color: cornflowerblue;
    color: ghostwhite;
    transition-property: background-color;
    transition-duration: 2s;
}